:root {
  --Light-orange: hsl(35, 77%, 62%);
  --Redish-orange: hsl(5, 85%, 63%);
  --White: hsl(36, 100%, 99%);
  --Light-gray: hsl(233, 8%, 79%);
  --Grayish-blue: hsl(236, 13%, 65%);
  --Dark-blue: hsl(240, 100%, 5%);
}

/* Configurações padrão */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 15px;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul li {
  color: var(--Dark-blue);
  cursor: pointer;
}
nav ul li:hover {
  color: var(--Redish-orange);
}

/* Conteúdo principal da página */
/* Seção principal */

.main-content {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 750px;
}

.main-section {
  grid-column: 2 span;
  grid-row: 1 span;
}

.blog-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.blog-info h1 {
  font-size: 3rem;
  color: var(--Very-dark-blue);
  width: 300px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-content p {
  color: var(--Dark-grayish-blue);
  width: 350px;
  line-height: 1.5;
}

.blog-content button {
  background-color: var(--Redish-orange);
  color: var(--White);
  border: none;
  width: 200px;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

.blog-content button:hover {
  background-color: var(--Dark-blue);
}

/* Seção "New" */

.new {
  grid-column: 1 span;
  grid-row: 1 span;
  background-color: var(--Dark-blue);
}

.new-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.new-section h2 {
  color: var(--Light-orange);
  font-size: 2rem;
}

.new-blogs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}

.new-blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-blog::after {
  content: "";
  margin-top: 2rem;
  display: flex;
  width: 100%;
  height: 1px;
  width: 100%;
  background-color: var(--Grayish-blue);
}

.new-blog:last-child::after {
  display: none;
}

.new-blog h3 {
  color: var(--White);
  cursor: pointer;
}

.new-blog h3:hover {
  color: var(--Light-orange);
}

.new-blog p {
  color: var(--Grayish-blue);
  max-width: 260px;
}

/* Seção Inferior */

.bottom-content {
  display: flex;
  grid-column: 3 span;
  grid-row: 1 span;
  gap: 1rem;
  justify-content: space-between;
}

.bottom-blog {
  display: flex;
  align-items: center;
  height: fit-content;
}

.bottom-blog img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  padding-right: 1rem;
}

.bottom-blog h2 {
  color: var(--Grayish-blue);
  font-size: 2rem;
}

.bottom-blog-info h3 {
  cursor: pointer;
  color: var(--Dark-blue);
  padding-bottom: 10px;
}

.bottom-blog-info h3:hover {
  color: var(--Redish-orange);
}

.bottom-blog-info p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--Grayish-blue);
}

/* Default */

.attribution {
  font-size: 11px;
  padding-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
